<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../assets/application.css" />
	</head>

	<body>
			<div class="main-content">
			<h2>Log in</h2>
		
			<form>
					<div>
					<label for="username" class="short-label">Username:</label>
					<input type="text" name="username" id="username">
					</div>
					<div>					
					<label for="password" class="short-label">Password:</label>
					<input type="text" name="password" id="password">
					</div>
				<hr>
				<input class="ui-button" type="submit" value="Submit">
				<a href="/welcome/signup" id="signUp" name="signUp" class="ui-button">Sign Up!</a>
			</form> 
			</div>
	</body>

</html>
