<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../assets/application.css" />
</head>

<body>

<div id="header">
<img src="/images/logo.png">
</div>

<div id="nav">

<%= button_to "Home", welcome_home_path, :method => "get" %>
<%= button_to "Login", welcome_login_path, :method => "get" %>
<%= button_to "Signup", welcome_signup_path, :method => "get" %>

</div>

<div id="section">
<h2>Sign up</h2>
<form>
	First Name:
	<input type="text" name="firstname">
	<br>
	Last Name:
	<input type="text" name="lastname">
	<br>
	Email:
	<input type="text" name="email">
	<br>
	Password:
	<input type="text" name="password">
	<br>
	Retype Password:
	<input type="text" name="password">
	<br>
	<input type="submit" value="Submit">
</form> 
</div>

<div id="footer">
Boniek, Hodges,Petrick,    Picone, Schorsch
</div>

</body>
</html>
